<div class="body">

  <div role="main" class="main">

    <div class="container">
      <section class="panel panel-admin">
        <header class="panel-heading">
          <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
          </div>

          <h2 class="panel-title">Admin</h2>
        </header>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-md">
                <button id="addToTable" class="btn btn-primary">Add <i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
          <table class="table table-bordered table-striped mb-none" id="datatable-editable">
            <thead>
              <tr>
                <th>Employee Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone No</th>
                <th>Adhar No</th>
                <th>RC Details</th>
                <th>DL No</th>
                <th>Actions </th>
              </tr>
            </thead>
            <tbody>
              <tr data-item-id="1">
                <td>001</td>
                <td>Raj</td>
                <td>Trichy</td>
                <td>36985441</td>
                <td>987456123</td>
                <td>TRC544656</td>
                <td>T88848 9856</td>
                <td class="actions">
                  <a href="#" class="on-default save-row"><i class="fa fa-save"></i></a>

                  <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              <tr data-item-id="2">
                <td>001</td>
                <td>Raj</td>
                <td>Trichy</td>
                <td>36985441</td>
                <td>987456123</td>
                <td>TRC544656</td>
                <td>T88848 9856</td>
                <td class="actions">
                  <a href="#" class="on-default save-row"><i class="fa fa-save"></i></a>

                  <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              <tr data-item-id="3">
                <td>001</td>
                <td>Raj</td>
                <td>Trichy</td>
                <td>36985441</td>
                <td>987456123</td>
                <td>TRC544656</td>
                <td>T88848 9856</td>
                <td class="actions">
                  <a href="#" class="on-default save-row"><i class="fa fa-save"></i></a>

                  <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              <tr data-item-id="4">
                <td>001</td>
                <td>Raj</td>
                <td>Trichy</td>
                <td>36985441</td>
                <td>987456123</td>
                <td>TRC544656</td>
                <td>T88848 9856</td>
                <td class="actions">
                  <a href="#" class="on-default save-row"><i class="fa fa-save"></i></a>

                  <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              <tr data-item-id="5">
                <td>001</td>
                <td>Raj</td>
                <td>Trichy</td>
                <td>36985441</td>
                <td>987456123</td>
                <td>TRC544656</td>
                <td>T88848 9856</td>
                <td class="actions">
                  <a href="#" class="on-default save-row"><i class="fa fa-save"></i></a>

                  <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              <tr data-item-id="6">
                <td>001</td>
                <td>Raj</td>
                <td>Trichy</td>
                <td>36985441</td>
                <td>987456123</td>
                <td>TRC544656</td>
                <td>T88848 9856</td>
                <td class="actions">
                  <a href="#" class="on-default save-row"><i class="fa fa-save"></i></a>

                  <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              <tr data-item-id="7">
                <td>001</td>
                <td>Raj</td>
                <td>Trichy</td>
                <td>36985441</td>
                <td>987456123</td>
                <td>TRC544656</td>
                <td>T88848 9856</td>
                <td class="actions">
                  <a href="#" class="on-default save-row"><i class="fa fa-save"></i></a>

                  <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              <tr data-item-id="8">
                <td>001</td>
                <td>Raj</td>
                <td>Trichy</td>
                <td>36985441</td>
                <td>987456123</td>
                <td>TRC544656</td>
                <td>T88848 9856</td>
                <td class="actions">
                  <a href="#" class="on-default save-row"><i class="fa fa-save"></i></a>

                  <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              <tr data-item-id="9">
                <td>001</td>
                <td>Raj</td>
                <td>Trichy</td>
                <td>36985441</td>
                <td>987456123</td>
                <td>TRC544656</td>
                <td>T88848 9856</td>
                <td class="actions">
                  <a href="#" class="on-default save-row"><i class="fa fa-save"></i></a>

                  <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              <tr data-item-id="10">
                <td>001</td>
                <td>Raj</td>
                <td>Trichy</td>
                <td>36985441</td>
                <td>987456123</td>
                <td>TRC544656</td>
                <td>T88848 9856</td>
                <td class="actions">
                  <a href="#" class="on-default save-row"><i class="fa fa-save"></i></a>

                  <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>

  </div>
</div>